apiVersion: v1
kind: ConfigMap
metadata:
  namespace: metallb-system
  name: config
data:
  config: |
    address-pools:
    - name: default
      protocol: layer2
      addresses:
      - 192.168.3.210-192.168.3.219
    - name: ingress-nginx-pool
      protocol: layer2
      addresses:
      - 192.168.3.194/32